:root,
:host {
	--background: oklch(100% 0 0);
	--foreground: oklch(32.11% 0 0);
	--card: oklch(100% 0 0);
	--card-foreground: oklch(32.11% 0 0);
	--popover: oklch(100% 0 0);
	--popover-foreground: oklch(32.11% 0 0);
	--primary: oklch(62.31% 0.188 259.815);
	--primary-foreground: oklch(100% 0 0);
	--primary-hover: oklch(66.4% 0.1651 259.83);
	--primary-active: oklch(57.68% 0.1721 259.73);
	--secondary: oklch(93.08% 0.0029 264.54);
	--secondary-foreground: oklch(32.11% 0 0);
	--secondary-hover: oklch(95.16% 0.0017 247.84);
	--secondary-active: oklch(86.05% 0.003 264.54);
	--muted: oklch(95.16% 0.0017 247.84);
	--muted-foreground: oklch(55.6% 0 0);
	--split-handle: oklch(51.55% 0.0078 286.12);
	--border: oklch(90% 0 0);
	--input-border: oklch(90% 0 0);
	--input-background: oklch(100% 0 0);
	--ring: oklch(62.31% 0.188 259.815);
	--negative: oklch(62.68% 0.2133 19.36);
	--negative-foreground: oklch(100% 0 0);
	--negative-hover: oklch(65.68% 0.1921 16.84);
	--negative-active: oklch(57.11% 0.1931 19.34);
	--positive: oklch(65.09% 0.1491 158.94);
	--positive-foreground: oklch(100% 0 0);
	--positive-hover: oklch(68.43% 0.1413 162.42);
	--positive-active: oklch(60.25% 0.1376 159.06);
	--warning: oklch(69.62% 0.1955 32.32);
	--warning-foreground: oklch(100% 0 0);
	--warning-hover: oklch(72.4% 0.1723 32.05);
	--warning-active: oklch(64.47% 0.1802 32.22);
	--information: oklch(65.2% 0.1901 253.21);
	--information-foreground: oklch(100% 0 0);
	--information-hover: oklch(68.57% 0.1709 251.52);
	--information-active: oklch(60.47% 0.1749 253.06);
	--sidebar: oklch(98.46% 0.0017 247.839);
	--sidebar-foreground: oklch(32.11% 0 0);
	--sidebar-primary: oklch(62.31% 0.188 259.815);
	--sidebar-primary-foreground: oklch(100% 0 0);
	--sidebar-secondary: oklch(92.76% 0.0058 264.531);
	--sidebar-secondary-foreground: oklch(32.11% 0 0);
	--sidebar-border: oklch(90% 0 0);
	--object-header: oklch(97.54% 0.0011 197.14);
	--object-header-foreground: oklch(32.11% 0 0);
	--table-header: oklch(97.54% 0.0011 197.14);
	--table-header-foreground: oklch(32.11% 0 0);
	--table-hover: oklch(96.04% 0.0011 197.14);
	--table-hover-foreground: oklch(32.11% 0 0);
	--table-active: oklch(93.93% 0.0011 197.14);
	--table-active-foreground: oklch(32.11% 0 0);
	--shadow-xs: 0 1px 2px #0000000a, 0 1px 2px #0000000d;
	--shadow-sm: 0 1px 3px 0 #0000001a, 0 1px 3px -2px #0000001a;
	--shadow-md: 0 3px 6px -1px #0000001a, 0 1px 4px #0000001a;
	--shadow-lg: 0 10px 15px -3px #0000001a, 0 1px 6px #0000001a;
	--shadow-xl: 0 20px 25px -5px #0000001a, 0 1px 10px #0000001a;
	--shadow-button: none;
	--shadow-input: 0 1px 2px #0000000a, 0 1px 2px #0000000d;
	--font-sans: 'Open Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
	--font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
	--tracking-normal: -0.025em;
	--radius-control: 0.5rem;
	--radius: 0.625rem;
	--spacing: 0.25rem;
}

.dark {
	--background: oklch(17.76% 0 0);
	--foreground: oklch(100% 0 0);
	--card: oklch(22% 0 0);
	--card-foreground: oklch(100% 0 0);
	--popover: oklch(24% 0 0);
	--popover-foreground: oklch(100% 0 0);
	--primary: #a46a0a;
	--primary-foreground: oklch(100% 0 0);
	--primary-hover: #d67c14;
	--primary-active: #d67c14;
	--secondary: oklch(28% 0 0);
	--secondary-foreground: oklch(100% 0 0);
	--secondary-hover: oklch(38.29% 0 0);
	--secondary-active: oklch(25.62% 0 0);
	--muted: oklch(26.9% 0 0);
	--muted-foreground: oklch(70.9% 0 0);
	--split-handle: oklch(64% 0.0102 286.13);
	--border: oklch(30% 0 0);
	--input-border: oklch(30% 0 0);
	--input-background: oklch(20% 0 0);
	--ring: #d67c14;
	--negative: oklch(48.17% 0.1805 24.53);
	--negative-foreground: oklch(100% 0 0);
	--negative-hover: oklch(52.64% 0.166 21.28);
	--negative-active: oklch(43.89% 0.1631 24.18);
	--positive: oklch(60.1% 0.1305 156.37);
	--positive-foreground: oklch(100% 0 0);
	--positive-hover: oklch(64.42% 0.1185 158.5);
	--positive-active: oklch(54.83% 0.1178 156.7);
	--warning: oklch(59.05% 0.1634 32.14);
	--warning-foreground: oklch(100% 0 0);
	--warning-hover: oklch(63.23% 0.1431 31.44);
	--warning-active: oklch(53.97% 0.1474 32.36);
	--information: #a46a0a;
	--information-foreground: oklch(100% 0 0);
	--information-hover: #d67c14;
	--information-active: #d67c14;
	--sidebar: oklch(24% 0 0);
	--sidebar-foreground: oklch(100% 0 0);
	--sidebar-primary: #d67c14;
	--sidebar-primary-foreground: oklch(100% 0 0);
	--sidebar-secondary: oklch(30% 0 0);
	--sidebar-secondary-foreground: oklch(100% 0 0);
	--sidebar-border: oklch(30% 0 0);
	--object-header: oklch(22% 0 0);
	--object-header-foreground: oklch(100% 0 0);
	--table-header: oklch(24% 0 0);
	--table-header-foreground: oklch(100% 0 0);
	--table-hover: oklch(26.86% 0 0);
	--table-hover-foreground: oklch(100% 0 0);
	--table-active: oklch(22.21% 0 0);
	--table-active-foreground: oklch(100% 0 0);
	--shadow-xs: 0 1px 2px #0000000a, 0 1px 2px #0000000d;
	--shadow-sm: 0 1px 3px 0 #0000001a, 0 1px 3px -2px #0000001a;
	--shadow-md: 0 3px 6px -1px #0000001a, 0 1px 4px #0000001a;
	--shadow-lg: 0 10px 15px -3px #0000001a, 0 1px 6px #0000001a;
	--shadow-xl: 0 20px 25px -5px #0000001a, 0 1px 10px #0000001a;
	--shadow-button: none;
	--shadow-input: 0 1px 2px #0000000a, 0 1px 2px #0000000d;
	--font-sans: 'Open Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
	--font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
	--tracking-normal: -0.025em;
	--radius-control: 0.5rem;
	--radius: 0.625rem;
	--spacing: 0.25rem;
}
